<link rel="stylesheet" type="text/css" href="/css/comment.css" />
<li id="comment-<%= comment._id %>">
  <div class="name" style="display: inline-block">
    <small> <a href="/users/profile/<%= comment.user.id %>"> <%= comment.user.name %> </small></a>
  </div>
  <div style="display: inline-block"><%= comment.content %></div>
  <% if((locals.user) && (locals.user.id == comment.user.id)) { %>
    <small class="del-comment">
      <a class="toggle-like" data-likes="<%= comment.likes.length %>" href="/likes/toggle/?id=<%=comment.id%>&type=Comment">
        <% if(comment.user%>
        <i class="far fa-heart"></i> <%= comment.likes.length %>
      </a>
      <a class="delete-b" href="/comments/destroy/<%=comment.id%>"> <i class="fa fa-trash" aria-hidden="true"></i> </a>
    </small>
    <% } %>
  <br />
</li>
