<header>
  <link rel="stylesheet" type="text/css" href="/css/header" />
  <div id="Logo">
    <a href="/">
      <img src="/images/logo1.jpg" />
    </a>
  </div>
  <div id="nav">
    <% if(locals.user) { %>
    <ul id="logged-in">
      <li class="logged-in">
        <a href="/users/profile/<%= user.id %>">
          <% if(user.avatar) {%>
            <img
            src="<%= user.avatar%>"
            alt="<%= user.name %>"
            height="40px"
            width="40px"
          />
          <%} else {%>
            <img src="../uploads/blank-profile-picture-973460_640.png" height="40px"
            width="40px">
          <% } %>
          
        </a>
      </li>
      <li style="margin:3%">
        <a href="/users/profile/<%= user.id %>">
          <%= user.name %>
        </a>
      </li>
      <li>
        <a href="/users/sign_out"> Sign Out </a>
      </li>
    </ul>
   
    <% } %>
  </div>
</header>
