<link rel="stylesheet" type="text/css" href="/css/post.css" />
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"> -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
		integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<li id="post-<%= post.id %>">
  <div class="posts">
    <div class="main-content">
    <p style="padding-right: 10%;">
    <small class='name' style="margin-left:2% ;"> 
      <% if(post.user.avatar) {%>
      <img
      src="<%= post.user.avatar%>"
      alt="<%= post.user.name %>"
      height="30px" width="30px"
    />  <% } else { %>
      <img src="../uploads/blank-profile-picture-973460_640.png"alt="<%= post.user.name %>"
      height="30px" width="30px"/>
      <% } %>
    <%= post.user.name %> </small>
    <% if((locals.user) && (locals.user.id == post.user.id)) { %>
      <small>
        <a class="delete-b" href="/posts/destroy/<%=post.id%>">
          <i class="fa fa-trash" aria-hidden="true" style="height: 10px; width:10px"></i>
        </a>
      </small>
      <% } %>
    <div class='content'><%= post.content %></div>
    <% if (locals.user) {%>
      <!-- <p style="display: inline-block;"><i class="fa fa-heart" aria-hidden="true"></i></p> -->
      <a class="toggle-like" data-likes="<%= post.likes.length %>" href="/likes/toggle/?id=<%=post.id%>&type=Post">
        <i class="far fa-heart"></i> <%= post.likes.length %>
      </a>
      <% } else { %>
          <%= post.likes.length %> Likes
        <% } %>
  </p>
   </div>
  <div class="post-comments">
    <% if (locals.user) {%>
    <form
      id="post-<%= post._id%>-comments-form"
      action="/comments/create"
      method="POST"
    >
      <input style="width: 50%"
        type="text"
        name="content"
        placeholder="Type here to add comment"
      />
      <input type="hidden" name="post" value="<%= post.id %>" />
      <input  style="width: 30%" type="submit" value="post comment" />
    </form>
    <% } %>
  </div>
  <div class="post-comment-list">
      <ul id="post-comments <%= post._id%>">
        <% for (comment of post.comments) { %> <%- include('_comment') %> <% }%>
      </ul>
  </div>
  
</div>
</li>
