<link rel="stylesheet" type="text/css" href="/css/user.css" />
<link rel="stylesheet" type="text/css" href="/css/signin.css" />


<div class="outer-container">
  <% if(profile_user.avatar) {%>
    <img src="<%= profile_user.avatar%>" alt="<%= profile_user.name %>" style="width:100; position: relative; left:40%;" />
  <%} else {%>
    <img src="../uploads/blank-profile-picture-973460_640.png" style="width:100; position: relative; left:40%;">
  <% } %>


  <h1><%= profile_user.name %> </h1>
<div class="inner-container">
<% if (user.id == profile_user.id) { %>
<form
  action="/users/update/<%= profile_user.id%>"
  enctype="multipart/form-data"
  method="POST"
>
  <input
    type="text"
    name="name"
    placeholder="Your Name"
    value="<%= profile_user.name %>"
    required
  />
  <input
    type="email"
    name="email"
    placeholder="Your Email"
    value="<%= profile_user.email %>"
    required
  />
  <input type="file" name="avatar" placeholder="Profile Picture" />
  <input type="submit" value="Update Profile" />
</form>
<form action="/users/delete/<%= user.id %>" method="GET">
  <a class="user-delete" href="/users/delete/<%= user.id %>">
  <input type="submit" id="delete-account" value="Delete Account"> 
</a>
</form>
<% } else { %>

<p><%= profile_user.name %></p>
<p><%= profile_user.email %></p>
<% } %>
</div>
</div>